.validate {
  &-container {
    position: absolute;
    top: 48px;
    right: 8px;
    display: flex;
    flex-direction: column;
    width: 386px;
    height: 273px;
    padding: 12px;
    background: #F7F7F7;
    border: 1px solid #C4C8CC;
    border-radius: 4px;
    overflow-y: auto;
    z-index: 3;
  }

  &-item {
    &-box {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      color: #000000;

      & > svg {
        width: 16px;
        margin: {
          top: 4px;
          right: 10px;
        };
        fill: #D11401;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-info {
      flex: 1 1 0;
      display: flex;
      flex-direction: column;
      font-family: 'Open Sans';
      font-style: normal;
      font-size: 14px;
    }

    &-title {
      font-weight: 600;
      text-transform: capitalize;
    }

    &-description {
      font-style: italic;
      font-weight: 400;
      color: #6C757D;
    }

    &-node {
      &-title {
        font-weight: 600;
      }

      font-weight: 400;
    }
  }
}
