.DS_Store
node_modules
/dist
*coverage
reports
.nyc_output
/public/js

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
nbproject/
test_summary_reports/mocha/test-results.xml
test_summary_reports/jest/junit.xml
.editorconfig
