.DS_Store
**/dist

# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Ignore all fixtures
tests/e2e/fixtures/

# Ignore local env files
.env.local
.env.*.local

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

*.bpmn
*.svg

cypress-coverage
jest-coverage
public
reports
test_summary_reports
