.zoom {
  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 6px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 12px;
    border: 0 none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333344;
    cursor: pointer;
    outline: none;
    user-select: none;

    &:first-child {
      margin-right: 4px;
    }

    &:last-child {
      margin-left: 4px;
    }

    & > svg {
      fill: #333344;
    }
  }

  &-button:hover {
    background-color: #ebeef2;
  }

  &-button:active {
    background-color: #DEEBFF;

    & > svg {
      fill: #1264AA;
    }
  }

  &-reset {
    padding: {
      left: 24px;
      right: 24px;
    };
    font-size: 14px;
    font-weight: 700;
    user-select: none;

    &:active {
      color: #1264AA;
    }
  }
}
