$inspector-column-max-width: 265px;

.inspector-column {
  max-width: $inspector-column-max-width;
}

.inspector {
  z-index: 2;

  &-container {
    text-align: left;
    user-select: none;
    padding-bottom: $toolbar-height;

    .form-group {
      padding: 0 0.5rem;

      > label {
        font-size: 0.8125rem;
      }
    }

    .inspector-font-size {
      font-size: 0.875rem;
    }
  }
}
