# testing using CircleCI orb
# see https://on.cypress.io/circleci-orb

# to use CircleCI orbs need to use version >= 2.1
version: 2.1
orbs:
  # use Cypress orb from CircleCI registry
  cypress: cypress-io/cypress@1.14.0
executors:
  with-chrome:
    docker:
      - image: 'cypress/browsers:node12.8.1-chrome80-ff72'
workflows:
  build:
    jobs:
      # runs tests using Chrome browser in custom executor (Cypress docker image)
      - cypress/run:
          executor: with-chrome
          browser: chrome
          #pre-steps:
          #  - run: 'npm install -g npm@latest && npm run lint'
          #command: 'npm install -g npm@latest && npm run lint && npm test'
          parallel: true
          parallelism: 2
          post-steps:
            - store_artifacts:
                path: coverage
            - store_test_results:
                path: test_summary_reports
            - store_artifacts:
                path: test_summary_reports/mocha/test-results.xml
            - store_artifacts:
                path: test_summary_reports/jest/junit.xml
