$inspector-column-max-width: 265px;
$controls-transition: 0.3s;

.inspector-column {
  max-width: $inspector-column-max-width;
}

.inspector {
  z-index: 1;

  &-container {
    text-align: left;
    user-select: none;

    .form-group {
      padding: 0 0.5rem;

      > label {
        font-size: 0.8125rem;
      }
    }

    .inspector-font-size {
      font-size: 0.875rem;
    }
  }

  &-enter, &-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }

  &-enter-active, &-leave-active {
    transition: all $controls-transition ease;
  }
}
