$toolbar-background-color: #fff;

.toolbar {
  z-index: 3;
  height: $toolbar-height;
  cursor: auto;
  width: 100%;
  background: $toolbar-background-color;

  > button {
    cursor: pointer;
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    text-transform: capitalize;
  }

  &-version-status {
    margin: 0 12px;
    padding-left: 12px;
    border-left: 1px solid #ADB3B8;
    font-weight: 600;
    color: #6C757D;
  }

  &-loading-status {
    margin-right: 21px;

    > svg {
      margin-left: 5px;
    }
  }

  &-publish {
    width: 72px;
    height: 30px;
    margin-right: 21px;
    background-color: #1572C2;
    border-radius: 4px;
    color: #FFFFFF !important;
    text-transform: uppercase;
    text-decoration: none !important;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #065c9d;
    }
  }

  &-close {
    width: 42px;
    height: 22px;
    margin-right: 21px;
    color: #000000 !important;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none !important;
  }
}

.text-black {
  color: #000000 !important;
}

.cursor-default {
  cursor: default !important;
}

.btn-ellipsis {
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
