// COLOURS
$primary-color: #3397E1;
$error-color: #ED4757;
$primary-white: #FFFFFF;
$primary-grey: #555555;
$border-color: rgba(0, 0, 0, 0.125);

$cursors: default, not-allowed, wait, crosshair;

// ANIMATION
$controls-transition: 0.3s;
$transition-duration: 0.3s;

$toolbar-height: 4rem;
