$cursors: default, not-allowed, wait;
$inspector-column-max-width: 265px;
$controls-column-max-width: 265px;
$controls-column-compressed-max-width: 95px;
$toolbar-height: 2rem;
$vertex-error-color: #ED4757;
$controls-transition: 0.3s;
