$controls-column-max-width: 340px;
$controls-transition: 0.3s;
$secondary-color-nav: #6c757d;

#explorer-rail {
	overflow: hidden;
	max-width: $controls-column-max-width;
	background-color: white;
	width: 100%;
	height: 80%;
	transition: all $controls-transition ease-out;
	z-index: 2;
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
	padding-left: 1rem;
	overflow-y: auto;
}

.rail-menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 0;
	.nav-link {
		color: $secondary-color-nav;
		&.active {
			font-weight: bold;
			border-bottom: 2px solid #1572C2;
			color: #000;
		}
	}

	.close--container {
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		&:hover {
			cursor: pointer;
		}
	}
}

.node-types {
	&__container {
		padding: 0.5rem 1rem;
		p {
			font-size: 13px;
			line-height: 19px;
			color: #000;
		}
	}
}

.pm-blocks {
	&__container {
		padding: 0.5rem 1rem;
		p {
			font-size: 13px;
			line-height: 19px;
			color: #000;
		}
	}
}

